* { 
    margin:0;
    padding:0;
  }
  a:link, a:visited, a:hover, a:active {
    color:rgb(150, 150, 150);
    font-size:1em;
  }
  body {
    background:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    margin:10px auto;
    width:70%;
    -moz-box-shadow: 0 0 5px 5px rgb(209, 209, 209);
    -webkit-box-shadow: 0 0 5px 5pxrgb(209, 209, 209);
    box-shadow: 0 0 5px 5px rgb(209, 209, 209);
    
  }
 header h1 {
    font-weight: 900;
    font-size: 50px;
    color: #7c7b7c;
    text-shadow: white 0.01em 0.01em ;
  }
  img {
    height:auto;
    margin-bottom:.5em;
    margin-top:.2em;
    max-width:100%;
  }
  li {
    margin-left:1.3em;
    padding-bottom:.7em;
    padding-right:.2em;
    
  }
  p {
    font-size:1em;
    padding-bottom:.5em; 
  }

  header {
    
    height: 150px;
    width: 100%;
    background: rgb(216, 216, 216);
    clear: both;
    text-align: center;
    
    
    display: flex;
   align-items: center;
   justify-content: center;
   
   background-image: linear-gradient(to bottom, #b6b5b6, #bbbabb, #bfbebf, #c4c3c4, #c9c8c9, #cecdce, #d2d2d2, #d7d7d7, #dddddd, #e2e2e2, #e8e8e8, #eeeeee);

   border-bottom: 3px solid rgb(235, 232, 232);
     }

  
  section {
   
    background-color:rgb(255, 255, 255);
    float:left;
    margin-bottom:0%px;
    max-width:-moz-calc(92% - 120px);
    max-width:-webkit-calc(92% - 120px);
    max-width:calc(92% - 120px);
    padding:2%;
    padding-bottom:2%px;
    width:65%;
    overflow:hidden;
  }
  aside {
    
    background-color:rgb(235, 233, 233);
    float: right;
    margin-bottom:0%;
    min-width: 120px;
    padding:2%;
    
    width:25%;
    overflow:hidden;
    border-left: 3px solid rgb(235, 232, 232);
  }
  footer { 
  
    height: 40px;
    width: 100%;
    clear: both;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-image: linear-gradient(to top, #b6b5b6, #bbbabb, #bfbebf, #c4c3c4, #c9c8c9, #cecdce, #d2d2d2, #d7d7d7, #dddddd, #e2e2e2, #e8e8e8, #eeeeee);

    color: #7c7b7c;
    border-top: 3px solid rgb(235, 232, 232);

    

  }

  .disc{
    list-style-type: disc;  
}

header h2{
    font-weight: 900;
    font-size: 25px;
    color: #7c7b7c;
    text-shadow: white 0.05em 0.05em ;
}

h2{
    font-weight: 900;
    font-size: 30px;   
    padding-bottom: 2%;
}

article{
    padding: 4% 1% 8% 1%;
    font-size: 20px;
    border-bottom: 3px solid rgb(235, 232, 232);

}

nav{
    padding-bottom: 5%;
    line-height: 1.3;
   
}

h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.8;
}

h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.8;
}




.p3{
  color: blue;
}


#id {
  color: red;
}