.section-img {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 8px;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  margin: 12px;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.image {
  object-fit: cover;
}
