/* Add CSS here */

*{
    --circle-color: #f76c32;
}

.last-month-icon{
    z-index: 2;
    background-color: #f5f6fb;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--circle-color);

}
.calendar-container{

    min-width: 400px;
}


#calendar-right p, #calendar-left p {
    cursor: pointer;
}

/* #calendar-right p:hover , #calendar-left p:hover{
    background-color: var(--circle-color);
    border-radius: 50%;
} */


.day-selected{
    background-color: var(--circle-color) !important;
    border-radius: 50%;
}