.todoList{
    overflow-x: auto;
    background-color: gray;
    border-radius: 20px;
    border: 1px solid black;
    box-sizing: content-box;
    padding: 8px;

    display: grid;
    grid-template-columns: repeat(1fr);
}

ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
  }